In [1]:
# Deliverable 1 - using Python 

import pandas as pd
import json

In [2]:
# Get the backers_info from the crowdfunding_info sheet.
backer_info_df = pd.read_csv("Resources/backer_info.csv")
pd.set_option('max_colwidth', 400)

backer_info_df.head()

                                                                                          backer_info
0        {"backer_id": "av166", "cf_id": 968, "name": "Angelo Vincent", "email": "avincent@live.com"}
1        {"backer_id": "ha127", "cf_id": 563, "name": "Hubert Arnold", "email": "harnold@yandex.com"}
2          {"backer_id": "lg794", "cf_id": 65, "name": "Loris Goulet", "email": "lgoulet@yandex.com"}
3  {"backer_id": "tb566", "cf_id": 563, "name": "Teodora Brunelli", "email": "tbrunelli@outlook.com"}
4               {"backer_id": "lh506", "cf_id": 563, "name": "Lexie Hunt", "email": "lhunt@live.com"}

In [3]:
backer_info_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8175 entries, 0 to 8174
Data columns (total 1 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   backer_info  8175 non-null   object
dtypes: object(1)
memory usage: 64.0+ KB

In [4]:
# Get the data from the first row and convert it to a dictionary.
import json
first_row = backer_info_df.iloc[0]['backer_info']
converted_data = json.loads(first_row)
for k, v in converted_data.items():
    print(k,v)

backer_id av166
cf_id 968
name Angelo Vincent
email avincent@live.com

In [5]:
# Iterate through the backers DataFrame and convert each row to a dictionary.
dict_values = []
for i, row in backer_info_df.iterrows():
    data = row['backer_info']
    converted_data = json.loads(data)    
    # Iterate through each dictionary (row) and get the values for each row using list comprehension.
    row_values = [v for k, v in converted_data.items()]
    # Append the list of values for each row to a list. 
    dict_values.append(row_values)

# Print out the list of values for each row.
print(dict_values[0:5])

[['av166', 968, 'Angelo Vincent', 'avincent@live.com'], ['ha127', 563, 'Hubert Arnold', 'harnold@yandex.com'], ['lg794', 65, 'Loris Goulet', 'lgoulet@yandex.com'], ['tb566', 563, 'Teodora Brunelli', 'tbrunelli@outlook.com'], ['lh506', 563, 'Lexie Hunt', 'lhunt@live.com']]

In [6]:
# Create a backers_df DataFrame with the following columns: 'backer_id','cf_id', 'name', and 'email' 
# using the list of values lists. 
backers_df = pd.DataFrame(dict_values, columns=["backer_id", "cf_id", "name", "email"])

backers_df.head()

  backer_id  cf_id              name                  email
0     av166    968    Angelo Vincent      avincent@live.com
1     ha127    563     Hubert Arnold     harnold@yandex.com
2     lg794     65      Loris Goulet     lgoulet@yandex.com
3     tb566    563  Teodora Brunelli  tbrunelli@outlook.com
4     lh506    563        Lexie Hunt         lhunt@live.com

In [7]:
# Export the DataFrame as a CSV file using encoding='utf8'.

backers_df.to_csv("Resources/backers.csv", index=False)

## Deliverable 2: Transform and Clean Data
----
1. Check the data types of the columns and convert the "cf_id" column to an integer, if necessary.
2. Split the name in the "name" column into first and last names, and add them to "first_name" and "last_name" columns in the DataFrame. 
3. Drop the "name" column in the DataFrame.
4. Place the columns in the following order; "backer_id", "cf_id", "first_name", "last_name" and "email".

In [8]:
# Check data types.
backers_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8175 entries, 0 to 8174
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   backer_id  8175 non-null   object
 1   cf_id      8175 non-null   int64
 2   name       8175 non-null   object
 3   email      8175 non-null   object
dtypes: int64(1), object(3)
memory usage: 255.6+ KB

In [9]:
# Convert cf_id to an integer if necessary.
backers_df[["cf_id"]]= backers_df[["cf_id"]].astype(int)

In [10]:
# Split the "name" column into "first_name" and "last_name" columns.
backers_df[["first_name", "last_name"]] = backers_df["name"].str.split(n=1, expand=True)
backers_df.head(10)

,backer_id,cf_id,name,email,first_name,last_name
0,av166,968,Angelo Vincent,avincent@live.com,Angelo,Vincent
1,ha127,563,Hubert Arnold,harnold@yandex.com,Hubert,Arnold
2,lg794,65,Loris Goulet,lgoulet@yandex.com,Loris,Goulet
3,tb566,563,Teodora Brunelli,tbrunelli@outlook.com,Teodora,Brunelli
4,lh506,563,Lexie Hunt,lhunt@live.com,Lexie,Hunt
5,lh382,563,Lambert Huber,lhuber@live.com,Lambert,Huber
6,em444,563,Emmy Morin,emorin@live.com,Emmy,Morin
7,at582,1572,Armonda Trani,atrani@live.com,Armonda,Trani
8,id772,1911,Ilana Duke,iduke@outlook.com,Ilana,Duke
9,lw275,65,Leigha Wright,lwright@live.com,Leigha,Wright

In [11]:
#  Drop the name column
backers_df = backers_df.drop(['name'], axis=1)

In [12]:
# Reorder the columns
backers_df = backers_df[['backer_id', 'cf_id', 'first_name', 'last_name', 'email']]

backers_df.head()

  backer_id  cf_id first_name last_name                  email
0     av166    968     Angelo   Vincent      avincent@live.com
1     ha127    563     Hubert    Arnold     harnold@yandex.com
2     lg794     65      Loris    Goulet     lgoulet@yandex.com
3     tb566    563    Teodora  Brunelli  tbrunelli@outlook.com
4     lh506    563      Lexie      Hunt         lhunt@live.com

In [14]:
# Export the DataFrame as a CSV file using encoding='utf8'.
backers_df.to_csv("Resources/backers.csv", index=False)